body {
    background-color: #FFFFFF;
    font-size: 12pt;
    font-family: sans-serif, arial;
}


/* Div definitions */
#bodySVG {
    border-right: 1px solid black;
	  overflow: visible;
}

#addDiv {
  padding: 0px;
}

#timelineSVG {
    border-bottom: 1px solid black;
    background-color: #EEEEEE;
	  overflow: visible;
}

#infoDiv {
  padding: 20px;
}

img {
  max-width:450px;
  max-height:450px;
}

/* Add shadow effect to chart. If you don't like it, get rid of it.
svg {
    -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.3) );
    filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.25) );
	overflow: visible;
}*/


#button-8dd3c7, #buttont-8dd3c7, #buttoni-8dd3c7, #buttonb-8dd3c7  {
  background-color: #8dd3c7;
}

#button-ffffb3, #buttont-ffffb3, #buttoni-ffffb3, #buttonb-ffffb3 {
  background-color: #ffffb3;
}

#button-bebada, #buttont-bebada, #buttoni-bebada, #buttonb-bebada {
  background-color: #bebada;
}

#button-fb8072, #buttont-fb8072, #buttoni-fb8072, #buttonb-fb8072 {
  background-color: #fb8072;
}

#button-80b1d3, #buttont-80b1d3, #buttoni-80b1d3, #buttonb-80b1d3 {
  background-color: #80b1d3;
}

#button-fdb462, #buttont-fdb462, #buttoni-fdb462, #buttonb-fdb462 {
  background-color: #fdb462;
}

#button-b3de69, #buttont-b3de69, #buttoni-b3de69, #buttonb-b3de69 {
  background-color: #b3de69;
}

#button-fccde5, #buttont-fccde5, #buttoni-fccde5, #buttonb-fccde5 {
  background-color: #fccde5;
}

#button-d9d9d9, #buttont-d9d9d9, #buttoni-d9d9d9, #buttonb-d9d9d9 {
  background-color: #d9d9d9;
}

#button-bc80bd, #buttont-bc80bd, #buttoni-bc80bd, #buttonb-bc80bd {
  background-color: #bc80bd;
}

#button-ccebc5, #buttont-ccebc5, #buttoni-ccebc5, #buttonb-ccebc5 {
  background-color: #ccebc5;
}

#button-ffed6f, #buttont-ffed6f, #buttoni-ffed6f, #buttonb-ffed6f {
  background-color: #ffed6f;
}
